<form>
    <input type="text" placeholder="Matrícula" ng-model="$ctrl.username">
    <input type="password" placeholder="Senha" ng-model="$ctrl.password">

    <button ng-click="$ctrl.saveUser()">Criar Usuário</button>
</form>
<button ng-click="$ctrl.logOut()" ui-sref="/home">Sair</button>
<p>Fazer login</p>
<form>
    <input type="text" placeholder="Matrícula" ng-model="$ctrl.username">
    <input type="password" placeholder="Senha" ng-model="$ctrl.password">

    <button ng-click="$ctrl.logar()">Criar Usuário</button>
</form>

