<div class="loggin-class text-right">
    <form ng-hide="$ctrl.isLoggedIn">
        <div class="col-sd-4 text-right">
            <input class="form-control" type="text" placeholder="Matrícula" ng-model="$ctrl.username">
        </div>
        <div class="col-sd-4 text-right">
            <input class="form-control" type="password" placeholder="Senha" ng-model="$ctrl.password">
        </div>

        <div class="col-sd-4 text-left">
            <button class="btn btn-default " ng-click="$ctrl.logar()">Login</button>
        </div>
    </form>


    <div class="row" ng-show="$ctrl.isLoggedIn">
          <div class="col-sd-3 text-right">
            <i>Bem vindo {{$ctrl.getNomeDoUsuarioLogado()}}</i>
          </div>

          <div class="col-sd-3 text-left">
                <button class="btn btn-default btn-sm" ng-click="$ctrl.logOut()" ui-sref="home">Sair</button>
          </div>
    </div>
</div>
