<div class="nav-layout-class">

    <div >
        <a ui-sref="usuarioDetalhes({usuarioId:$ctrl.usuario._id})">Meu Perfil</a>
    </div>

    <div>
        <a ui-sref="livros">Pesquisar Livro</a>
    </div>

    <div ng-show="$ctrl.isFuncionario()">
        <a ui-sref="add-livro">Adicioanr Livro</a>
    </div>

    <div ng-show="$ctrl.isFuncionario()">
        <a ui-sref="usuario-add">Adicionar Usuário</a>
    </div>

    <div ng-show="$ctrl.isFuncionario()">
        <a ui-sref="usuarios">Pesquisar Usuário</a>
    </div>



</div>
